body{
    color:cornflowerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
background-color: black;
}
h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
h1{
    text-align: center;
}